[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ecdsa = "==0.19.0"
requests = "==2.32.3"
pydantic = "==2.10.6"

[dev-packages]
black = "==25.1.0"
pytest = "==8.3.4"
pytest-mock = "==3.14.0"
mypy = "==1.15.0"
pytest-mypy-plugins = "==3.2.0"
pytest-cov = "==6.0.0"

[requires]
python_version = "3"
