[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ecdsa = "==0.18.0"
requests = "==2.28.2"

[dev-packages]
black = "==23.3.0"
pytest = "==7.3.1"
pytest-mock = "==3.10.0"
mypy = "*"
pytest-mypy-plugins = "==1.11.1"
pytest-cov = "==4.1.0"

[requires]
python_version = "3"
