[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ecdsa = "==0.19.1"
requests = "==2.32.5"
pydantic = "==2.12.5"

[dev-packages]
black = "==26.1.0"
pytest = "==9.0.2"
pytest-mock = "==3.15.1"
mypy = "==1.19.1"
pytest-mypy-plugins = "==3.2.0"
pytest-cov = "==7.0.0"

[requires]
python_version = "3"
